<div class="jumbotron">
	<label for="searchBox">{{"Posts by " + blogSearchBoxVm.userName}}</span></label>
	<div class="input-group">
		<input name="searchBox" type="text" class="form-control" placeholder="Find posts by..." ng-model="blogSearchBoxVm.userName">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="blogSearchBoxVm.onSearch()">
				<span ng-show="blogSearchBoxVm.isBusy" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
				<span ng-hide="blogSearchBoxVm.isBusy" class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</button>
		</span>
	</div>     
</div>