<blog-search-box 
	user-name="blogVm.model.userName" 
	on-search="blogVm.search()" 
	is-busy="blogVm.model.isBusy"></blog-search-box>

<div class="row" 
	ng-if="blogVm.model.posts.length || blogVm.model.albums.length">
	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="{active: blogVm.model.selectedTab === 'albums.html'}"><a ng-click="blogVm.show('albums')" href="#">Albums</a></li>
		<li role="presentation" ng-class="{active: blogVm.model.selectedTab === 'posts.html'}"><a ng-click="blogVm.show('posts')" href="#">Posts</a></li>
	</ul>
</div>
<div class="row">
	<div class="col-md-6">
		<div ng-include="blogVm.model.selectedTab"></div>
	</div>   
</div>

<div ng-show="blogVm.model.error" class="alert alert-danger">
	<span ng-bind="blogVm.model.error"/>
</div>